<!doctype html>
<html >

<head>
    <meta charset="utf-8">
    <title>bookmarks management</title>
</head>

<body data-ng-app="myApp" layout="column">
    <md-toolbar class="md-whiteframe-4dp">
        <h1>advanced bookmarks</h1>
    </md-toolbar>
    <div class="containter" layout="row" flex>
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
           <md-list>
               <md-list-item>
                   <md-button >
                       <md-icon md-svg-src="../icons/man.svg"></md-icon>
                       main button
                   </md-button>
               </md-list-item>
               <md-list-item>
                    <md-button>
                        <md-icon md-svg-src="../icons/man.svg"></md-icon>
                        Another button
                    </md-button>
                </md-list-item>
                <md-list-item>
                        <md-button>
                            <md-icon md-svg-src="../icons/man.svg"></md-icon>
                             extra button
                        </md-button>
                    </md-list-item>
           </md-list>

        </md-sidenav>
        <md-content id="content" class="lightgreen" flex>
            <md-panel-shown>
                    <md-icon md-svg-src="../icons/man.svg"></md-icon>
                    <h2>main content </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </md-panel-shown>
        </md-content>

    </div>


</body>

</html>