.nav-header {
        
    a.navbar-brand {
        width: 100%;
        padding: 2rem;
        color: $brandColor;
        text-transform: capitalize;
        letter-spacing: 0.025rem;
        font-family: $PtSans400;
        font-size: responsive 10px 16px;
    }

    // button {
    //     margin-top: 116px;
    // }
}