
$inputBackground: #222;
$inputBorder: #6f6f69;
$inputTextColor: #f1f1f1;
$inputhoverBorder: rgb(145, 39, 39);
$bgBlack: #343a40;
$brandColor: #e34141;
$pMenuSize: 14px;
$cMenuSize: 12px;
$PtSans400: "PT Sans", sans-serif;