@import "~bootstrap/scss/bootstrap";
@import 'font';

/****custom***/

$inputBackground: #222;
$inputBorder: #6f6f69;
$inputTextColor: #f1f1f1;
$inputhoverBorder: rgb(145, 39, 39);
$bgBlack: #343a40;
$brandColor: #e34141;
$pMenuSize: 14px;
$cMenuSize: 12px;
$PtSans400:  'PT Sans', sans-serif;

.navbar {
    form.form-inline {
        position: relative;
        left: 2%;

        input[type=search] {
            border: 1px solid $inputBorder;
            border-radius: 20px;
            width: 400px;
            background-color: $inputBackground;
            color: $inputTextColor;
            padding: .45rem;
            padding-left: 30px;
        }

        input[type=search]:focus {
            border: 1px solid $inputhoverBorder;
            box-shadow: 1px 1px 10px 0px $inputhoverBorder;
        }
    }

    ul {
        list-style: none;
        right: 100px;
        position: relative;
        padding: 0px;
        margin: 0px;

        li {
            display: inline;
            font-size: 20px;
            margin: 0px;

            button {
                background-color: transparent;
                border-width: 0px;

                // margin-top: 10px;
           
            }
        }
    }
}

div.content {
    height: 100%;
    width: 82%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 350px;
    background-color: rgb(205, 211, 211);
    overflow-x: hidden;
    transition: 0.5s;
}

/** vertical nav **/

div.side-nav {
    height: 100%;
    width: 350px;
    min-width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(41, 43, 43);
    overflow-x: hidden;
    

    // border-right: 1px solid #222;

    /* transition: 0.5s; */
    /* padding-top: 60px; */
    /* -webkit-box-shadow: 1px 0px 5px 0px rgba(240, 231, 240, 1);
    -moz-box-shadow: 1px 0px 5px 0px rgba(240, 231, 240, 1);
    box-shadow: 1px 0px 5px 0px rgba(240, 231, 240, 1); */
    div.nav-menu {
        margin-top: 2rem;

        div.card {
            width: 100%;
            background-color: transparent;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            border-radius: 0px;

            div.card-header:first-child {
                border-radius: 0px;
            }

            div.card-header {
                background-color: #333;
                border-width: 0px;
                cursor: pointer;

                span.text {
                    padding-left: .5rem;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: $brandColor;
                }

                span.badge {
                    background-color: $brandColor;
                    float: right;
                    font-size: 16px;
                }
            }

            div.card-header:hover {
                background-color: $brandColor;
                color: #f1f1f1;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

                span.text {
                    color: #f1f1f1;
                }

                span.badge {
                    background-color: #f1f1f1;
                    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                    color: $brandColor;
                }
            }

            ul.children {
                li.list-group-item {
                    background-color: #222;
                    padding-left: 2rem;
                    cursor: pointer;
                    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

                    span.text {
                        color: $brandColor;
                        padding-left: .1rem;
                        margin-left: -5rem;
                    }

                    span.badge {
                        background-color: $brandColor;
                        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                        float: right;
                    }
                }

                .list-group-item:first-child, .list-group-item:last-child {
                    border-radius: 0px;
                }

                li.list-group-item:hover {
                    background-color: $brandColor;

                    span.text {
                        color: #f1f1f1;
                    }

                    span.badge {
                        background-color: #f1f1f1;
                        color: $brandColor;
                        
                    }
                }
            }
        }

        div.card:hover {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.22);
        }
    }
}

div.side-nav > .nav-header {
    top: -20px;
    width: 100%;
    height: 150px;
    background-color: $bgBlack;
}

.nav-header {
    a.navbar-brand {
        width: 100%;
        padding: 2rem;
        padding-top: 3rem;
        height: 150px;
        color: $brandColor;
        text-transform: capitalize;
        letter-spacing: 0.025rem;
        font-family: $PtSans400;
    }

    button {
        margin-top: 116px;
    }
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #333;
}

.btn-rect {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #333;
}

.btn-rect > img {
    width: 50px;
    height: 50px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-circle img {
    width: 15px;
    height: 15px;
}

.btn-circle img.lg {
    width: 50px;
    height: 50px;
    margin: -11px -17px;
}

div.card-poster {
    position: relative;
    height: 12rem;
    width: 100%;
    vertical-align: middle;
    background: $brandColor;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10%;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-family: $PtSans400;
    border-width: 0px;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-body {
    padding: 0.7rem;
}

.card-text {
    position: absolute;
    top: 40%;
    padding: 1rem;
    font-size: .7rem;
    color: #ada89e;
    font-family: 'Robot', sanserif;
}

.card-wrapper {
    border-radius: 5px;
}

.edit-icon {
    position: absolute;
    margin: 4px;
    top: 10px;
    left: 76%;
}

div.card-desc span.title {
    font-size: 12px;
    letter-spacing: .05rem;
    text-transform: uppercase;
    font-weight: 800;
}

.modal-backdrop {
    z-index: 0;
}

.border-red {
    border: 1px solid red;
}

.bg-grey {
    background-color: $brandColor !important;
}

.bg-grey:hover {
    background-color: $brandColor;
}
