<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bookmark manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body data-ng-app="app" data-ng-controller="logBookmarkCtrl as lbc">
    <!-- Image and text -->

    <div class=" side-nav">
        <div class="nav-header ">
            <a class="navbar-brand" href="#">
                <img src="/assets/icons/main-32.png" width="30" height="30" class="d-inline-block align-top" alt=""> Bookmark Manager
            </a>
            <button type="button" class="btn btn-danger bg-grey btn-circle btn-lg edit-icon" data-toggle="modal" data-target="#exampleModal">
                <img class="lg" src="assets/icons/add.svg" alt="edit">
            </button>
        </div>
        <div class="nav-menu">
        
            <div class="card" data-ng-repeat=" ele in lbc.parentBookMarks">
                <div class="card-header" role="tab" id="{{'heading'+ele.id}}" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse'+ele.id}}" aria-expanded="false"
                    aria-controls="collapseOne" data-ng-click="lbc.getBookMarks()">
                    <img class="lg" src="assets/icons/folder-24.svg" alt="edit">
                    <span class="text">{{ele.title }}</span>

                    <span class="badge badge-primary badge-pill">{{ lbc.getFolderLength(ele) }}</span>

                </div>

                <div id="{{'collapse'+ele.id}}" class="collapse" role="tabpanel" aria-labelledby="{{'heading'+ele.id}}">
                    <ul class="list-group children">
                        <li class="  list-group-item d-flex justify-content-between align-items-center"
                        data-ng-repeat="ch in ele.children" data-ng-if="ch.type == 'folder'"
                        >
                            <img class="lg" src="assets/icons/folder-24.svg" alt="edit">
                            <span class="text">{{ch.title}}</span>
                            <span class="badge badge-primary badge-pill">{{ lbc.getFolderLength(ch)}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="content">
        <nav class="navbar navbar-fixed navbar-light bg-dark col-12">

            <form class="form-inline">
                <input class="form-control form-control-sm" type="search" placeholder="search bookmarks">

            </form>
            <ul class="border-0">
                <li>
                    <button type="button" class="btn btn-danger ">
                        <img src="assets/icons/grid.svg" alt="edit">
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-danger ">
                        <img src="assets/icons/list.svg" alt="edit">
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-danger ">
                        <img src="assets/icons/setting.svg" alt="edit">
                    </button>
                </li>
            </ul>


        </nav>
        <div class="container-fluid border">
            <div class="row">
                <!-- card start -->
                <div class="card card-wrapper mt-3 ml-3 mr-3" style="width: 12rem;" data-ng-repeat="b in lbc.parentBookMarks">
                        <div class="card-poster  bg-grey">
                                <button type="button" class="btn btn-primary btn-circle edit-icon">
                                    <img src="assets/icons/edit.svg" alt="edit">
                                </button>
                                
                                <img  src="assets/icons/folder.svg" class="mt-2" alt="folder">
                                
                            </div>
                    <div class="card-body">
                        <div class="card-desc mb-2">
                            <span class="title">{{b.title | limitTo: 30}}{{b.title.length > 30 ? '...' : ''}}</span>

                        </div>

                        <div class="card-controlls offset-md-6">

                            <button type="button" class="btn btn-warning btn-circle">
                                <img src="assets/icons/copy.svg" height="30" width="30" alt="move">
                            </button>
                            <button type="button" class="btn btn-danger btn-circle">
                                <img src="assets/icons/del.svg" alt="delete">
                            </button>

                        </div>
                    </div>
                </div>
                <!-- card end -->
                <!-- card start -->
                <div class="card card-wrapper mt-3 ml-3 mr-3" style="width: 12rem;">
                    <button type="button" class="btn btn-primary btn-circle edit-icon">
                        <img src="assets/icons/edit.svg" alt="edit">
                    </button>
                    <p class="card-text">bookmark about something and other thing</p>
                    <img class="card-img-top" src="https://www.google.com/s2/favicons?domain_url=https://www.sass-lang.com" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-desc mb-2">
                            <span class="title">www.google.com</span>

                        </div>

                        <div class="card-controlls offset-md-6">

                            <button type="button" class="btn btn-warning btn-circle">
                                <img src="assets/icons/copy.svg" height="30" width="30" alt="move">
                            </button>
                            <button type="button" class="btn btn-danger btn-circle">
                                <img src="assets/icons/del.svg" alt="delete">
                            </button>

                        </div>
                    </div>
                </div>
                <!-- card end -->

                <!-- card start -->
                <div class="card card-wrapper mt-3 ml-3 mr-3" style="width: 12rem;">

                    <div class="card-poster ">
                        <button type="button" class="btn btn-primary btn-circle edit-icon">
                            <img src="assets/icons/edit.svg" alt="edit">
                        </button>
                        <img src="assets/icons/folder.svg" class="mt-2" alt="folder">
                    </div>
                    <div class="card-body">
                        <div class="card-desc mb-2">
                            <span class="title">foldername</span>
                        </div>

                        <div class="card-controlls offset-md-6">

                            <button type="button" class="btn btn-warning btn-circle">
                                <img src="assets/icons/copy.svg" alt="move">
                            </button>
                            <button type="button" class="btn btn-danger btn-circle">
                                <img src="assets/icons/del.svg" alt="delete">
                            </button>

                        </div>
                    </div>
                </div>
                <!-- card start -->


            </div>

        </div>


    </div>



</body>

</html>