<div class=" content-nav">

    <div class="nav-header ">
        <a class="navbar-brand" href="#">
            <img src="../../assets/icons/main-32.png" width="30" height="30" class="d-inline-block align-top" alt=""> Bookmark Manager
        </a>
    </div>

    <div class=" border">
        <div class="row">
            <div class="col-10 offset offset-md-1">
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
                    <div class="card-body">

                            <button type="button" class="btn btn-secondary offset-md-7" data-ng-click="edCtrl.loadPreviousState()">close</button>
                            <button type="button" class="btn btn-success">update</button>
                        </div>
                    <div class="card-body">
                        <label for="">title:</label>
                        <h5 data-ng-hide="edCtrl.isTitleEditable" class="card-title" data-ng-click="edCtrl.toggleTileEdit()">{{edCtrl.bookmark.title}}</h5>
                        <textarea data-ng-show="edCtrl.isTitleEditable" class="form-control form-control-lg" type="text" data-ng-model="edCtrl.bookmark.title"></textarea>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li>
                            <label for="">url:</label>
                        </li>
                        <li class="list-group-item">

                            <span data-ng-hide="edCtrl.isUrlEditable" class="url" data-ng-click="edCtrl.toggleUrlEdit()">{{edCtrl.bookmark.url}}</span>
                            <textarea data-ng-show="edCtrl.isUrlEditable" class="form-control" type="text" data-ng-model="edCtrl.bookmark.url"></textarea>
                        </li>
                        <li>
                            <label>parent folder:</label>
                        </li>
                        <li>
                            <select ng-model="edCtrl.selectedFolder" ng-options="folder.title for folder in edCtrl.folders">
                        </li>

                    </ul>
                    
                </div>

                

            </div>

        </div>
    </div>

</div>